[submodule "src/utilities"]
	path = src/utilities
	url = https://github.com/KerryL/utilities.git
[submodule "src/logging"]
	path = src/logging
	url = https://github.com/KerryL/logging.git
[submodule "src/rpi"]
	path = src/rpi
	url = https://github.com/KerryL/rpi.git
