# File:  sousVide.rc
# Date:  9/5/2013
# Auth:  K. Loux
# Desc:  Sample sous vide cooker configuration file.  All options are
#        shown, but options for which default values are provided by
#        the application are commented out.  The value to which these
#        options are set is the default.

# Network configuration
#port = 2770

# I/O configuration
# Pin numbers use wiring pi library numbering.
# See: https://projects.drogon.net/raspberry-pi/wiringpi/pins/
#pumpPin = 0
#heaterPin = 1
sensorID = 28-000000000000

# Controller configuration
# Controller form is kp * (1 + 1 / (ti * s))
kp = 1# [%/deg F]
#ti = 0# [sec] (0 == OFF)
#kd = 0# [%-sec/deg F]
#kf = 0# [%-sec/deg F]
#td = 1# [sec]
#tf = 1# [sec]
#plateauTolerance = 1# [deg F]
#pwmFrequency = 2.0# [Hz]

# Interlock configuration
#maxSaturationTime = 10# [sec]
#maxTemperature = 200# [deg F]
#temperatureTolerance = 2# [deg F]
#minErrorTime = 5# [sec]

# System configuration
#idleFrequency = 0.2# [Hz]
#activeFrequency = 1# [Hz]
#pwmFrequency = 10# [Hz]
#statisticsTime = 10# [sec] (0 == OFF)
maxHeatingRate = 1# [deg F/sec]
#maxAutoTuneTime = 1800# [sec]
#maxAutoTuneTemperatureRise = 15# [deg F]
#temperaturePlotPath="."